main {
	align-content: center;
}

.navbar {
	align-items: center;
}

.nav-item {
	transition: .4s;
	margin: 5px;
}

.nav-item:hover {
	background-color: #eccc68;
    color: #FFC0CB;
    transform: scale(1.2);
}

.title {
	text-align: center;
}
.description {
	text-align: center;
	background-color: grey;
	padding: 10px;
}

.bgc-blue {
 	background-color: #0984e3;
}
.color-white, a.color-white {
	color: white;
}
.btn {
	padding: 10px 12px;
	text-decoration: none;
}
.bgc-red {
	background: #ff4757;
}

.bgc-yellow {
	background-color: #f1c40f;
}

.logo {
	color: white;
	max-width: 25%;
	padding-left: 12%;
}

.nav {
	align-items: right;
	margin-right: 150px;
}

header {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.header-wrap {
	max-width: 1000px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.container {
	justify-content: center;
	display: flex;
	max-height: 70%;
	max-width: 1000px;

}

.color-black {
	color: black;
}

.text-section {
	max-width: 50%;
	padding: 0% 7% 5% 3%;
	font-family: Arial, Geneva, Helvetica, sans-serif;
}

.image-section {
	max-width: 50%;
	padding-bottom: 10px;
	padding-left: 3%;
	margin-left: -10px;
	margin-bottom: 10px;
	margin-top: -25px;
}

.image-section img {
	max-width:50%;
	border-radius: 50%;
	transition: .3s;
}

.image-section img:hover {
	border-radius: 15%;
}

.logo img:hover {
	transform: scale(1.5);
}

.logo img {
	max-width: 100%;
	transition: .4s;
}

.bgc-black {
	background-color: black;
}

.usluge{
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 10px;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	}

.prvi, .drugi, .treci {
	width:25%;
	padding-top: 15px;
}

.cetvrti, .peti, .sesti{
	width:25%;
}
.bgc-white{
	background-color: white;
}

.carousel {
	justify-content: center;
	display: flex;
	max-height: 70%;

}

.slika img{
	max-width: 40px;
	justify-content: left;

}

.tekst {
	max-width: 150px;
	max-height: 150px;
	font-size: 12px;
	text-align: center;
}

.zajedno {
	max-width: 100%;
	display: flex;
	transition: 0.5s;
}

.zajedno:hover{
	transform: scale(1.2);
}

.zajedno:hover img{
	opacity: 0.2;
}

.zajedno img {
	transition: 0.3s;
}